version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:4.2.3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"     # AMQP
      - "15672:15672"   # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    #restart: unless-stopped

  pgrouting:
    image: pgrouting/pgrouting:16-3.5-4.0
    container_name: pgrouting
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/data
      - ./postgres/logs:/logs
      - ./postgres/init:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: landmark_db
      POSTGRES_USER: landmark_user
      POSTGRES_PASSWORD: landmark_password
      #PGDATA: /data/postgres

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    #restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"


volumes:
  rabbitmq_data:

